/* Body style */
body {
    font-family: Verdana;
    background-color: #2fd7fd;
    margin: 0px;
  }
  
  /* Header styles  */

header {
  display: flex;
  justify-content: space-between;
  background-color: #571bd8;
  color: #e14ada;
  padding: 3vh;
}

/* Time style*/

time {
  min-width: 60px;
}

/* Styles for main element */

main {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Button styles */

.button {
  display: block;
  color: #fff;
  background-color: #d9d9d9;
  padding: 5vh;
  border-radius: 12px;
  border: none;
}

.inline-buttons {
  display: inline-flex;
}

/* Card styles */

.card {
  max-width: 90%;
  margin-top: 20vh;
  border: solid;
  border-width: 8px;
  padding: 8vw;
  border-radius: 40px;
  border-color: #317aa7;
  box-shadow: 12px 8px 8px #63a2b0;
}

/* Start Card Styles */

#start-screen {
  display: inline;
  text-align: center;
}

/* Question Card Styles */

.option-button {
  width: 100%;
  text-align: left;
  margin: 10px;
}

#result-div {
  display: none;
}

/* Score card styles */

.inline-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

#initials {
  width: 30%;
  margin: 12px;
  padding: 4vh;
}

/* Leaderboard card styles */

#back-button {
  margin-right: 12px;
}

.highscore-list {
  padding-inline-start: 20px;
}

/* footer */
footer {
  margin-top: auto;
  display: flex;
  width: 100vh;
  display: block;
  flex-direction: column;
  position: fixed;
}

/* Media Queries */

@media screen and (min-width: 850px) {
  .box {
    max-width: 680px;
  }
}

/* Media query that specifies devices that can utilize hover */
@media (hover) {
  a:hover {
    color: rgb(219, 194, 245);
  }

  button:hover {
    background-color: rgba(143, 21, 223, 0.5);
  }
}