/* Body style */

body {
    font-family: Verdana;
    background-color: #ffffff;
    margin: 0px;
  }
  
  /* Header styles  */

header {
  display: flex;
  justify-content: space-between;
  background-color: #571bd8;
  color: #e14ada;
  padding: 3vh;
}

/* Time style*/

time {
  min-width: 60px;
}

/* Styles for main element */

main {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Button styles */

.button {
  display: block;
  color: rgba(132, 21, 210, 0.733);
  background-color: rgb(191, 22, 213);
  padding: 5vh;
  border-radius: 12px;
  border: none;
}

.inline-buttons {
  display: inline-flex;
}

/* Box styles */

.box {
  max-width: 90%;
  margin-top: 20vh;
  border: solid;
  border-width: 8px;
  padding: 8vw;
  border-radius: 40px;
  border-color: rgb(60, 178, 252);
  box-shadow: 12px 8px 8px #2fd7fd;
}

/* Start Card Styles */

#start-box {
  display: inline;
  text-align: center;
}

/* Question Card Styles */

.option-button {
  width: 100%;
  text-align: left;
  margin: 10px;
}

#result-div {
  display: none;
}

/* Score Card Styles */

.inline-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}